body {
  font-family: "Source+Sans+Pro", sans-serif;
  font-size: 16px;
  color: #222;
  background-color: #fff;
  text-align: center;
  line-height: 1.4em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif;
}

.container {
  padding: 0;
  margin-top: 40px;
}

h3 {
  margin-top: 30px;
}

.user-stories {
  position: relative;
  text-align: justify;
  max-width: 700px;
  margin: 15px auto;
}

code {
  font-family: monospace;
  padding: 2px;
  color: black;
  background-color: #E4E8EB;
}

ol {
  list-style-position: outside;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 0.5em;
}

.user-stories li {
  margin-bottom: 1em;
}

a {
  color: #2574A9;
}
